body,
p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.contenu {
  min-height: 100vh;
}
h1,
h2,
h3 {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#choix_statut {
  width: 250px;
  height: 400px;
  border: 2px solid black;
}

nav {
  background-color: #f3671f;
  font-size: 20px;
}

.barre {
  width: 100%;
  background-color: black;
  height: 2px;
  border: 2px solid black;
}

.msg {
  font-size: 20px;
  width: 100%;
}

.font-link {
  color: black;
  font-size: 16px;
}

.navbar-nav li a:hover {
  text-decoration: underline;
}

.navbar-nav li a {
  font-size: 16px;
  margin-top: 16px;
}

.description {
  height: 100px;
  overflow: hidden;
  text-align: justify;
}

footer {
  height: 180px;
  background-color: #F3671F; 
  font-size:13px;
}

@media all and (max-width: 400px) {
  .msg {
    text-align: center;
  }
  .navbar-brand {
    margin: 0%;
  }

  .logo {
    margin-left: 60%;
  }

  #form_co {
    margin-left: 20%;
  }

  #connexion {
    margin-left: 15%;
    margin-top: 10px;
  }
}
